{% extends "layout.html" %}

{% block body %}
<section class="section">
  <h1 class="title">Modificar tarea</h1>
  <form method="post" action="">
    <div class="block">
      <div class="field">
        <label class="label" for="name">Nombre</label>
        <p>Modifique la tarea</p>
        <div class="control">
          <input class="input" type="text" id="name" name="name" placeholder="Nombre" value="{{ task.name }}">
        </div>
      </div>
    </div>
    <div class="block">
      <div class="buttons">
        <button class="button is-primary" type="submit" href="">
          <span>Guardar</span>
        </button>
        <a class="button" href="{{ url_for('list.show', id=list.id) }}">
          <span>Cancelar</span>
        </a>
      </div>
    </div>
  </form>
</section>
{% endblock %}