{% extends "layout.html" %}

{% block body %}
<section class="section">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{{ url_for('list.index') }}">Lists</a></li>
      <li><a href="{{ url_for('list.show', list_id=list.id) }}"><em>{{ list.name }}</em></a></li>
      <li class="is-active"><a href="#" aria-current="page">Create</a></li>
    </ul>
  </nav>
  <h1 class="title">New task</h1>
  <form method="post" action="{{ url_for('task.create', list_id=list.id) }}">
    <div class="block">

      <div class="field">
        <label class="label" for="name">Task</label>
        <p>Write your task</p>
        <div class="control">
          <input class="input" type="text" id="name" name="name" placeholder="New task">
        </div>
      </div>

      <div class="field">
        <label class="label" for="status">Status</label>
        <div class="control">
          <div class="select">
            <select name="status">
              {% for status in task_status %}
              <option value="{{status}}">{{status}}</option>
              {% endfor%}
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label" for="due_date">Due date</label>
        <div class="control">
          <input class="input" type="date" id="due_date" name="due_date" placeholder="Due date">
        </div>
      </div>

    </div>
    <div class="block">
      <div class="buttons">
        <button class="button is-primary" type="submit" href="{{ url_for('list.show', list_id=list.id) }}">
          <span>Save</span>
        </button>
        <a class="button" href="{{ url_for('list.show', list_id=list.id) }}">
          <span>Cancel</span>
        </a>
      </div>
    </div>
  </form>
</section>
{% endblock %}