{% extends "layout.html" %}

<!DOCTYPE html>
<html>
<head></head>

{% block body %}
<body>
    <section class="section">
        <div class="level">
          <div class="level-left">
            <div>
              <p class="title">
                Lista de tareas
              </p> 
              <p class="subtitle is-5">
                Espacio para ver y crear listas de tareas
              </p>
            </div>
          </div>
          <div class="level-right">
            <a class="button is-responsive is-primary is-pulled-right" href="{{ url_for('list.new') }}">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
              <span>Nueva lista</span>
            </a>
          </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
                {% for list in lists %}
                <tr>
                  <td>{{ list.id }}</td>
                  <td>{{ list.name }}</td>
                </tr>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
    </section>
</body>
{% endblock %}

</html>