{% extends "layout.html" %}

<!DOCTYPE html>
<html>
<head></head>

{% block body %}
<body>
    <section class="section">
        <div class="container">
          <h1 class="title">
            Lista de tareas
          </h1>
          <p class="subtitle">
            Espacio para ver y crear listas de tareas.
          </p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <a class="button is-responsive is-primary is-pulled-right" href="{{ url_for('list.new') }}">
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
                <span>Nueva lista</span>
            </a>
        </div>
        <div class="container">
          {% for list in lists %}
          <li>{{ list.name }}</li>
          {% endfor %}
        </div>
    </section>
</body>
{% endblock %}

</html>