<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TodoList</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/a35da4ceef.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/flashes.js') }}"></script>
  {% endblock %}
</head>
<body class="has-background-primary">
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation"">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('home.homepage') }}">
          Home
        </a>
        {% if 'user_id' in session %}
        <a class="navbar-item" href="{{ url_for('list.index') }}">
          My lists
        </a>
        {% endif %}
      </div>
      <div class="navbar-end">
        {% if 'user_id' in session %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="{{ url_for('auth.logout') }}">
              Log out
            </a>
          </div>
        </div>
        {% endif %}
        {% if 'user_id' not in session %}
        <div class="buttons">
          <a class="button is-black" href="{{ url_for('auth.signup') }}">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="{{ url_for('auth.login') }}">
            Log in
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
  <section class="container is-max-desktop has-background-white hero is-halfheight">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flashes">
      {% for category, message in messages %}
        <div class="notification is-{{ category }}">
          <button class="delete"></button>
          {{ message }}
        </div>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  {% block body %}
  {% endblock %}
  </section>
{% block home %}
{% endblock %}
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>TodoList</strong> by <a href="https://www.linkedin.com/in/ivanoffmilka/">Milka Ivanoff</a>.
      </p>
    </div>
  </footer>
</body>
</html>