{% extends "layout.html" %}

{% block body %}
    <section class="section">
      <div class="level">
        <div class="level-left">
          <div>
            <p class="title">
              Lists
            </p> 
            <p class="subtitle is-5">
              See and create your lists
            </p>
          </div>
        </div>
        <div class="level-right">
          <a class="button is-responsive is-primary is-pulled-right" href="{{ url_for('list.new') }}">
            <span class="icon">
              <i class="fa-solid fa-plus"></i>
            </span>
            <span>New list</span>
          </a>
        </div>
      </div>
    </section>
    <section class="section">
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th>List</th>
              </tr>
            </thead>
            <tbody>
                {% for list in lists %}
                <tr>
                  <td><a href="{{ url_for('list.show', id=list.id) }}">{{ list.name }}</a></td>
                  <td>
                    <a href="{{ url_for('list.edit', id=list.id) }}">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="{{ url_for('list.delete', id=list.id) }}">
                      <i class="fa-regular fa-trash-can"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
    </section>
{% endblock %}