{% extends "layout.html" %}

{% block body %}
<section class="section">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{{ url_for('list.index') }}">Lists</a></li>
      <li class="is-active"><a href="#" aria-current="page">New list</a></li>
    </ul>
  </nav>
  <h1 class="title">New list</h1>
  <form method="post" action="{{ url_for('list.create') }}">
    <div class="block">
      <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
          <input class="input" type="text" id="name" name="name" placeholder="insert name">
        </div>
      </div>

      <div class="field">
        <label class="label" for="description">Description</label>
        <div class="control">
          <input class="input" type="text" id="description" name="description" placeholder="insert description">
        </div>
      </div>
    </div>
    <div class="block">
      <div class="buttons">
        <button class="button is-primary" type="submit" href="{{ url_for('list.index') }}">
          <span>Save</span>
        </button>
        <a class="button" href="{{ url_for('list.index') }}">
          <span>Cancel</span>
        </a>
      </div>
    </div>
  </form>
</section>
{% endblock %}