{% extends "layout.html" %}
{% block body %}
  <section class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="{{ url_for('list.index') }}">Listas</a></li>
        <li class="is-active"><a href="#" aria-current="page">Lista de <em>{{ list.name }}</em></a></li>
      </ul>
    </nav>
    <div class="level">
      <div class="level-left">
        <div>
          <p class="title">Lista "{{ list.name }}"</p>
        </div>
      </div>
      <div class="level-right">
        <a class="button is-responsive is-primary is-pulled-right" href="{{ url_for('task.new', id=list.id) }}">
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <span>Nueva tarea</span>
        </a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Tarea</th>
          </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
              <td>{{ task.name }}</td>
              <td>
                <a href="{{ url_for('task.edit', id=list.id, task_id=task.id) }}">
                  <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <a href="{{ url_for('task.delete', id=list.id, task_id=task.id) }}">
                  <i class="fa-regular fa-trash-can"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
</section>
{% endblock %}