{% extends "layout.html" %}
{% block body %}
  <section class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ url_for('list.index') }}">Lists</a></li>
        <li class="is-active"><a href="#" aria-current="page"><em>{{ list.name }}</em></a></li>
      </ul>
    </nav>
    <div class="level">
      <div class="level-left">
        <div>
          <p class="title">List <em>{{ list.name }}</em></p>
        </div>
      </div>
      <div class="level-right">
        <a class="button is-responsive is-primary is-pulled-right" href="{{ url_for('task.new', list_id=list.id) }}">
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <span>New task</span>
        </a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Task Name</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Assigned To</th>
          </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
              {% if task.status=="Done" %}
                <td><i class="fa-solid fa-circle-check"></i></td>
                <td><strike>{{ task.name }}</strike></td>
                <td><strike>{{ task.status }}</strike></td>
                <td><strike>{{ task.priority }}</strike></td>
                <td><strike>{{ task.due_date }}</strike></td>
                <td><strike>{{ task.user_id }}</strike></td>
              {% else %}
              <td><i class="fa-regular fa-circle"></i></td>
              <td>{{ task.name }}</td>
              <td>{{ task.status }}</td>
              <td>{{ task.priority }}</td>
              <td>{{ task.due_date }}</td>
              <td>{{ task.user_id }}</td>
              {% endif %}
              <td>
                <a href="{{ url_for('task.edit', list_id=list.id, task_id=task.id) }}">
                  <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <a href="{{ url_for('task.delete', list_id=list.id, task_id=task.id) }}">
                  <i class="fa-regular fa-trash-can"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
</section>
{% endblock %}